.LessonSection {
    background-image: url('../../../assets/images/mountfuji.jpg');
    background-size: cover;
    min-height: 79vh;
    color: white;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.LessonSectionHeader h1 {
    font-size: 48px;
    font-weight: 900;
    text-shadow: 2px 2px 2px black;
}

.LessonSectionContainer {
    min-height: 50vh;
    background-color: rgba(255, 0, 0, 0.25);
}

.LessonSectionButtons {
    margin: 5px auto;
    margin-left: 5px;
    margin-right: 5px;
}